h3{
    font-size: 18px;
font-family: "Montserrat";
font-style: normal;
font-weight: 700;
line-height: normal;
}
.p{
  color:   #858585;
font-size: 14px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
margin-top: 10px;
line-height: normal;
}
.bgContainer{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}